In [28]:
import pandas as pd
import os
import numpy as np
from matplotlib import pyplot as plt

In [29]:
df = pd.read_csv("data/data_subset.csv", index_col=0)

In [30]:
df["trip_duration"]=pd.to_datetime(df["ended_at"])-pd.to_datetime(df["started_at"])

In [31]:
df["minutes"]=(df["trip_duration"].dt.days*24*60)+(df["trip_duration"].dt.seconds/60)

In [32]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge,bike_rides_daily,trip_duration,minutes
0,AC76F5E4EFDCE317,electric_bike,2022-01-02 16:20:01,2022-01-02 16:22:34,Lexington Ave & E 111 St,7567.06,E 115 St & Madison Ave,7599.02,40.795412,-73.944123,40.798944,-73.944846,casual,2022-01-02,11.4,both,2,0 days 00:02:33,2.550000
1,E121DC402DB250F1,classic_bike,2022-01-02 14:28:05,2022-01-02 14:58:12,48 St & 5 Ave,3202.06,Bond St & Bergen St,4404.10,40.646351,-74.009271,40.684967,-73.986208,member,2022-01-02,11.4,both,2,0 days 00:30:07,30.116667
2,67E6F94A7B94F776,electric_bike,2022-01-03 20:11:00,2022-01-03 20:15:17,E 156 & Brook Ave,7896.11,E 161 St & Park Ave,7979.17,40.819823,-73.912411,40.824811,-73.916407,member,2022-01-03,1.4,both,1,0 days 00:04:17,4.283333
3,441B0C0506D400C2,classic_bike,2022-01-04 12:43:34,2022-01-04 12:46:59,E 33 St & 1 Ave,6197.08,E 39 St & 2 Ave,6345.08,40.743227,-73.974498,40.748033,-73.973828,casual,2022-01-04,-2.7,both,1,0 days 00:03:25,3.416667
4,99005ACE9002E034,electric_bike,2022-01-06 23:05:29,2022-01-06 23:12:23,W 37 St & 10 Ave,6611.02,W 52 St & 11 Ave,6926.01,40.756604,-73.997901,40.767272,-73.993929,member,2022-01-06,4.9,both,3,0 days 00:06:54,6.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1909EEBDB8561EF3,classic_bike,2022-12-25 16:51:22,2022-12-25 17:11:28,Sands St & Jay St,4821.03,Cliff St & Fulton St,5065.14,40.700119,-73.986200,40.708380,-74.004950,member,2022-12-25,-6.9,both,1,0 days 00:20:06,20.100000
996,835FC1877F5B64A2,classic_bike,2022-12-26 15:17:21,2022-12-26 15:37:04,Brooklyn Ave & Dean St,4131.03,Kingston Ave & Park Pl,4016.03,40.676786,-73.944239,40.673080,-73.941910,member,2022-12-26,-4.7,both,1,0 days 00:19:43,19.716667
997,4C5C1A46D62AA1BC,classic_bike,2022-12-30 12:44:40,2022-12-30 12:48:00,E 23 St & 1 Ave,5929.01,E 17 St & 2 Ave,5896.01,40.736502,-73.978095,40.734312,-73.983725,member,2022-12-30,9.3,both,2,0 days 00:03:20,3.333333
998,39BD3E36E8E24D86,classic_bike,2022-12-30 15:22:03,2022-12-30 15:27:33,46 St & 25 Ave,6907.03,Steinway St & Ditmars Blvd,7074.01,40.765992,-73.906829,40.772717,-73.906127,member,2022-12-30,9.3,both,2,0 days 00:05:30,5.500000
999,F2ECB5AE4343A33D,classic_bike,2022-12-31 18:10:23,2022-12-31 18:29:10,E 47 St & 2 Ave,6498.10,W 63 St & Broadway,7052.01,40.753367,-73.970515,40.771639,-73.982614,member,2022-12-31,8.2,both,1,0 days 00:18:47,18.783333

Created a value and group by start and end station

In [33]:
df=df.sample(5000,replace=True)
df["value"]=1

In [38]:
df_group = df.groupby(['start_station_name', 'end_station_name',"start_lat","start_lng","end_lat","end_lng"])["value"].count().reset_index()
df_group

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,value
0,1 Ave & E 110 St,E 114 St & 1 Ave,40.792327,-73.938300,40.794566,-73.936254,8
1,1 Ave & E 16 St,Broadway & E 19 St,40.732219,-73.981656,40.738661,-73.989873,3
2,1 Ave & E 18 St,8 Ave & W 38 St,40.733812,-73.980544,40.754610,-73.991770,7
3,1 Ave & E 18 St,E 19 St & 3 Ave,40.733812,-73.980544,40.736245,-73.984738,4
4,1 Ave & E 18 St,E 20 St & FDR Dr,40.733812,-73.980544,40.733209,-73.975681,8
...,...,...,...,...,...,...,...
979,Wythe Ave & Metropolitan Ave,Jay St & York St,40.716887,-73.963198,40.701403,-73.986727,2
980,Wythe Ave & Metropolitan Ave,Lafayette Ave & Ft Greene Pl,40.716887,-73.963198,40.687002,-73.976650,8
981,Wythe Ave & Metropolitan Ave,Meserole Ave & Manhattan Ave,40.716887,-73.963198,40.727086,-73.952991,3
982,Wythe Ave & Metropolitan Ave,W 21 St & 6 Ave,40.716810,-73.963297,40.741740,-73.994156,5
983,Wythe Ave & Metropolitan Ave,Willoughby Ave & Hall St,40.716887,-73.963198,40.691960,-73.965369,2

In [39]:
df_group.rename(columns = {'from_station_name':'start_station_name','to_station_name' : 'end_station_name',
'value': 'trips'}, inplace = True)

Create KeplerGl instance

In [40]:
from keplergl import KeplerGl
m = KeplerGl()

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [41]:
m.add_data(data=df_group,name="data_1")

In [42]:
m

KeplerGl(data={'data_1': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, …

In [45]:
config = m.config

In [46]:
m.save_to_html(file_name='Divvy Bike Trips Aggregated.html', read_only = False, config = config)

Map saved to Divvy Bike Trips Aggregated.html!

In [47]:
import json
with open("config.json", "w") as outfile:
    json.dump(config, outfile)

In [ ]:
#central park does not have that many bike rides compared to the rest of New York. Cental park is a very crowded area so probably
#hard to get through on a bike, that being the reason there are less rides that take place there.